body .article-body code {
  color: #f8f8f0;
  background-color: #1E1E1E;
}
.model-javascript .keyword,
.model-javascript .methods {
  color: #e2be46;
}
.model-javascript .function {
  color: #99ccff;
}
.model-javascript .return {
  color: #ae81ff;
}
.model-javascript .operator {
  color: orangered;
}
.code-model .model-javascript {

}
.value {
  color: #0ed1eb;
}
.key {
  color: #f92672;
}
.white {
  color: #fff;
}
.key-obj {
  color: #a6e22e;
}
.variable {
  color: red;
}
.model-javascript .annotation,
.model-javascript .annotation span {
  color: #575757 !important;
}
body .article-body code::selection,
body .article-body code span::selection {
  color: red;
  background-color: #fff;
}