body .article-body code {
  color: #f8f8f0;
  background-color: #1E1E1E;
}
.model-javascript {
  border-radius: 3px;
  padding: 1px 3px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, .8);
}
code .line-ul {
  margin: 0 !important;
  padding: 0 !important;
}
code .line-ul li {
  float: left;
  min-width: 100%;
  padding: 0;
  border-radius: 3px;
  margin: 0;
  transition: .5;
}
code .line-ul li:hover .line {
  border: 1px solid rgba(255, 255, 255, .5);
  color: #ae81ff;
  background-color: rgba(255, 255, 255, .1);
}
code .line-ul li .line {
  display: inline-block;
  width: 2rem;
  height: 100%;
  padding: 2px 10px;
  border: 1px solid transparent;
  margin-right: 10px;
  text-align: right;
  color: #888;
  box-shadow: 5px 0 5px .8 #000;
  user-select: none;
}

/* javascript */
.javascript-keyword, .javascript-methods { color: #e2be46; }
.javascript-function { color: #2994ff; }
.javascript-return { color: #ae81ff; }
.javascript-operator { color: #b83607; }
.javascript-value { color: #0ed1eb !important; }
.javascript-string, .javascript-string span { color: #ad00fd; }
.javascript-key { color: #f92672; }
.javascript-white { color: #fff; }
.javascript-key-obj { color: #a6e22e; }
.javascript-variable { color: red; }
.javascript-html { color: #143fb6; }
.javascript-annotation, .javascript-annotation span { color: #575757 !important; }

.html-label { color: #f92672; }
.html-key { color: #a6e22e; }