$headerFontStack: Helvetica, Arial, sans-serif;
$h1Base: 3;
$h2Base: 2;
$h3Base: 1;
$h4Base: 0.7;
$h5Base: 0.5;
$h6Base: 0.4;

$bodyFontStack: Helvetica, Arial, sans-serif;
$baseFontSize: 14; // Handled as px
$pBase: 0.1;

@mixin responsive-type($minFont, $viewport, $default) {
  font-size: em(#{$default});
  //em fallback
  font-size: -moz-calc(#{$minFont}px + #{$viewport}vw);
  font-size: -webkit-calc(#{$minFont}px + #{$viewport}vw);
  font-size: -o-calc(#{$minFont}px + #{$viewport}vw);
  font-size: calc(#{$minFont}px + #{$viewport}vw);
  //vw fallback
  font-size: -moz-calc(#{$minFont}px + #{$viewport}vmax);
  font-size: -webkit-calc(#{$minFont}px + #{$viewport}vmax);
  font-size: -o-calc(#{$minFont}px + #{$viewport}vmax);
  font-size: calc(#{$minFont}px + #{$viewport}vmax);
}

/* { @include responsive-type( minimum, viewport%, default fallback ); } */
h1 { @include responsive-type( $baseFontSize, $h1Base, 42px ); }
h2 { @include responsive-type( $baseFontSize, $h2Base, 36px ); }
h3 { @include responsive-type( $baseFontSize, $h3Base, 22px ); }
h4 { @include responsive-type( $baseFontSize, $h4Base, 20px ); }
h5 { @include responsive-type( $baseFontSize, $h5Base, 14px ); }
h6 { @include responsive-type( $baseFontSize, $h6Base, 14px ); }

body, input, textarea, button, select, p, a {
  @include responsive-type( $baseFontSize, $pBase, 12px );
}