.layout-default-mobile .article-layout,
.layout-default-mobile /deep/ .article-skeleton {
  padding-top: 60px !important;
}
.article-content-box {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;
  @include themify($themes) {
    color: themed('font-color');
  }

  .article-items {
    opacity: .8;
    padding-bottom: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: .9em;
    @include themify($themes) {
      border-bottom: 1px dashed rgba($color: themed('font-color'), $alpha: .2);
    }
    span {
      margin: 0 10px;
    }
  }

  .article-desc {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    @include themify($themes) {
      background-color: rgba(themed('main-bg-f2-color'), .7);
    }
  }

  .article-layout {
    padding-top: 80px;
  }

  &.toggle-transition {
    /deep/ .article-skeleton {
      opacity: 0;
      transition: 1s;
      visibility: hidden;
    }
    .article-layout {
      opacity: 1;
      transition: .5s;
    }
  }

  .row-box {
    border-radius: 5px;
  }

  /deep/ .article-layout {
    opacity: 0;
    margin: 0 auto;

    .title {
      text-indent: 5px;
      text-align: center;
      font-weight: 500;
      font-size: 1.5rem;
      @include themify($themes) {
        color: themed('font-color');
      }
    }
  }

  /deep/ .article-page__container {
 
    .article-content__container {
      min-height: calc(100vh - 130px);
      padding: 40px;
    }

    .article-content__info {
      display: flex;
      margin: 20px 0;
      padding: 10px 20px;
      font-size: 1rem;
      @include themify($themes) {
        color: themed('font-lv3-color');
        background-color: themed('bg-dp3-color');
      }
      border-radius: 10px;
      justify-content: space-between;
      flex-wrap: wrap;

      .slm {
        margin-left: 20px;
        font-size: inherit;
      }

      .tag-list {
        width: 100%;
        margin-bottom: 0;

        .tag-item {
          display: inline-block;
          margin-top: 10px;
          margin-right: 10px;
          padding: 0 10px;
          @include themify($themes) {
            background-color: themed('bg-dp6-color');
          }
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            @include themify($themes) {
              background-color: themed('bg-dp9-color');
            }
          }
        }
      }
    }
  }

  /deep/ .article-page__sideber {
    padding-left: 15px;
  }

  /deep/ .-horizontal {
    display: none;
  }
}