body .article-body code {
  color: #f8f8f0;
  background-color: #1e1e1e;
}
.model-javascript {
  border-radius: 3px;
  padding: 1px 3px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}
.model-css {
  color: #fff;
}
code .line-ul {
  margin: 0 !important;
  padding: 0 !important;
}
code .line-ul li {
  float: left;
  min-width: 100%;
  padding: 0;
  border-radius: 3px;
  margin: 0;
  transition: 0.5;
  user-select: text;
}
code .line-ul li:hover .line {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ae81ff;
  background-color: rgba(255, 255, 255, 0.1);
}
code .line-ul li .line {
  display: inline-block;
  width: 2rem;
  height: 100%;
  padding: 2px 10px;
  border: 1px solid transparent;
  margin-right: 10px;
  text-align: right;
  color: #888;
  box-shadow: 5px 0 5px 0.8 #000;
  user-select: none;
}

.javascript-keyword,
.javascript-methods,
.css-keyword {
  color: #e2be46;
}
.javascript-function,
.css-string {
  color: #2994ff;
}
.javascript-return {
  color: #ae81ff;
}
.javascript-operator {
  color: #b83607;
}
.javascript-value,
.css-value {
  color: #0ed1eb !important;
}
.javascript-string,
.javascript-string span,
.css-color {
  color: #ad00fd;
}
.javascript-key,
.html-label {
  color: #f92672;
}
.javascript-white {
  color: #fff;
}
.javascript-key-obj,
.html-key,
.css-key {
  color: #a6e22e;
}
.javascript-variable {
  color: red;
}
.javascript-html {
  color: #143fb6;
}
.javascript-annotation,
.javascript-annotation span,
.html-annotation,
.html-annotation span {
  color: #575757 !important;
}
.javascript-param {
  padding: 1px 5px;
  color: #888;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
