body .article-body code {
  max-height: 100vh;
  padding: 0;
  overflow-y: scroll;
  color: #f8f8f0;
  background-color: #1e1e1e;
  border-radius: 0 0 3px 3px !important;
  transition: .5s;
}
body .article-body code.close {
  max-height: 0;
}
.model-javascript {
  padding: 1px 3px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}
.model-css {
  color: #fff;
}
code .line-ul {
  margin: 0 !important;
  padding: 0 !important;
}
code .line-ul li {
  float: left;
  min-width: 100%;
  padding: 0;
  border-radius: 3px;
  margin: 0;
  transition: 0.5;
  user-select: text;
}
code .line-ul li:hover .line {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ae81ff;
  background-color: rgba(255, 255, 255, 0.1);
}
code .line-ul li .line {
  display: inline-block;
  width: 2rem;
  height: 100%;
  padding: 2px 10px;
  border: 1px solid transparent;
  margin-right: 10px;
  text-align: right;
  color: #888;
  box-shadow: 5px 0 5px 0.8 #000;
  user-select: none;
}

/* 控制台 */
.code-console-box {
  display: flex;
  margin: 0 3px;
  padding: 7px 20px;
  color: #999;
  background-color: #3a3a3a;
  box-sizing: border-box;
  border-bottom: 3px solid #272727;
  border-radius: 3px 3px 0 0;
  justify-content: flex-end;
  align-items: center;
}
.code-console-box .iconfont {
  margin: 0 7px;
  transition: .5s;
  cursor: pointer;
}
.code-console-box .iconfont:hover {
  color: #fff;
}
.info .info-child {
  position: absolute;
  width: 200px;
  padding: 10px;
  word-wrap: break-word;
  word-break: normal;
  white-space: pre-wrap;
  background-color: #5f5f5f;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, .3);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  transform: translateX(-95%) translateY(20px);
}
.info:hover .info-child {
  opacity: 1;
  visibility: initial;
  transform: translateX(-95%) translateY(10px);
}

.javascript-keyword,
.javascript-methods,
.css-keyword {
  color: #e2be46;
}
.javascript-function,
.css-string {
  color: #2994ff;
}
.javascript-return {
  color: #ae81ff;
}
.javascript-operator {
  color: #b83607;
}
.javascript-value,
.css-value {
  color: #0ed1eb !important;
}
.javascript-string,
.javascript-string span,
.css-color {
  color: #ad00fd;
}
.javascript-key,
.html-label {
  color: #f92672;
}
.javascript-white {
  color: #fff;
}
.javascript-key-obj,
.html-key,
.css-key {
  color: #a6e22e;
}
.javascript-variable {
  color: red;
}
.javascript-html {
  color: #143fb6;
}
.javascript-annotation,
.javascript-annotation span,
.html-annotation,
.html-annotation span {
  color: #575757 !important;
}
.javascript-param {
  padding: 1px 5px;
  color: #888;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
