body {
  overflow-x: hidden;
  max-width: 100vw;
  min-width: 300px;
  margin: 0;
  color: #353535;
  background-color: #f1f8fa;
}
@font-face {
  font-family: 'iconfont';  /* project id 956143 */
  src: url('//at.alicdn.com/t/font_956143_402ddvgxqu9.eot');
  src: url('//at.alicdn.com/t/font_956143_402ddvgxqu9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_956143_402ddvgxqu9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_956143_402ddvgxqu9.woff') format('woff'),
  url('//at.alicdn.com/t/font_956143_402ddvgxqu9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_956143_402ddvgxqu9.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slm-loading::before {
  display: inline-block;
  animation: slmdeg 1s linear infinite;
}
.icon-slm-loading::after {
    content: "";
    position: absolute;
    bottom: -0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    filter: blur(1px);
  animation: slmdeg-shodow 1s linear infinite;
  }
@keyframes slmdeg-shodow {
  20% {
    background-color: rgba(0, 0, 0, .6);
  }
  50% {
    transform: scale(1, 1);
    background-color: rgba(0, 0, 0, .5);
  }
  70% {
    transform: scale(.7, 1);
    background-color: rgba(0, 0, 0, .3);
  }
  90% {
    transform: scale(.6, 1);
    background-color: rgba(0, 0, 0, .2);
  }
}
@keyframes slmdeg {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20%) scale(1, 1.1);
  }
  50% {
    transform: translateY(-30%);
  }
  70% {
    transform: translateY(20%) scale(1, .5);
  }
  90% {
    transform: translateY(25%) scale(1, .4);
  }
}
.master-screen-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.master-screen-loading .icon-slm-loading {
  font-size: 20rem;
  animation: slmdeg-loading 5s;
  animation-fill-mode: forwards;
  opacity: .8;
}
@keyframes slmdeg-loading {
  50% {
    font-size: 13rem;
    transform: translateY(0) scale(.7);
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh) scale(.2);
  }
}

.icon-weXin:before {
  content: "\e61d";
}

.icon-fangxiangxia:before {
  content: "\e684";
}

.icon-shizhong:before {
  content: "\e627";
}

.icon-shezhi:before {
  content: "\e6a2";
}

.icon-liaotian:before {
  content: "\e73d";
}

.icon-yinle:before {
  content: "\e637";
}

.icon-top01:before {
  content: "\e64e";
}

.icon-remen:before {
  content: "\e665";
}

.icon-icon_reply:before {
  content: "\e60a";
}

.icon-hot:before {
  content: "\e616";
}

.icon-danquxunhuan:before {
  content: "\e60e";
}

.icon-QQ:before {
  content: "\e60d";
}

.icon-liulan:before {
  content: "\e61b";
}

.icon-liaotian1:before {
  content: "\e606";
}

.icon-yinleliebiaoxian:before {
  content: "\e607";
}

.icon-yuanchuang:before {
  content: "\e612";
}

.icon-qqkongjian:before {
  content: "\e696";
}

.icon-yuzhong:before {
  content: "\e639";
}

.icon-shijian:before {
  content: "\e645";
}

.icon-library-2:before {
  content: "\e601";
}

.icon-cloud-remind:before {
  content: "\e711";
}

.icon-chenggong:before {
  content: "\e609";
}

.icon-tags:before {
  content: "\e652";
}

.icon-wrong:before {
  content: "\e615";
}

.icon-caidan:before {
  content: "\e67f";
}

.icon-jinggao:before {
  content: "\e604";
}

.icon-zhuce:before {
  content: "\e75c";
}

.icon-geci:before {
  content: "\e844";
}

.icon-louzhu:before {
  content: "\e6e4";
}

.icon-add1:before {
  content: "\e603";
}

.icon-weibo:before {
  content: "\e65f";
}

.icon-next:before {
  content: "\e60f";
}

.icon-xihuan1:before {
  content: "\e602";
}

.icon-zhiwen:before {
  content: "\e60b";
}

.icon-fatie:before {
  content: "\e611";
}

.icon-zhuanji:before {
  content: "\e64f";
}

.icon-gongsi:before {
  content: "\e608";
}

.icon-fenxiang:before {
  content: "\e68b";
}

.icon-Shape:before {
  content: "\e6a0";
}

.icon-gonggao:before {
  content: "\e629";
}

.icon-loading:before {
  content: "\e6dc";
}

.icon-jinghua:before {
  content: "\e614";
}

.icon-zanting:before {
  content: "\e62c";
}

.icon-zanting1:before {
  content: "\e605";
}

.icon-renzheng:before {
  content: "\e610";
}

.icon-shoucang-k:before {
  content: "\e6af";
}

.icon-shanchu:before {
  content: "\e62f";
}

.icon-renzheng1:before {
  content: "\e60c";
}

.icon-bozhu:before {
  content: "\e651";
}

.icon-geshou:before {
  content: "\e79f";
}

.icon-chaping:before {
  content: "\e617";
}

.icon-shoucang:before {
  content: "\e625";
}

.icon-ziyuan:before {
  content: "\e600";
}

.icon-suiji:before {
  content: "\e6da";
}

.icon-shunxu1:before {
  content: "\e6db";
}

.icon-dianzan:before {
  content: "\e619";
}

.icon-huo:before {
  content: "\e64d";
}

.icon-sou-suo:before {
  content: "\e613";
}

.icon-xiazai:before {
  content: "\e626";
}

.icon-qufengliupai:before {
  content: "\e6c8";
}

.icon-up-copy:before {
  content: "\e75d";
}

.icon-slm:before {
  content: "\e618";
}
