@import './themes/dark.scss';
@import './themes/bright.scss';
$mainBackgrounColor: red;

// 移动端左侧栏目宽度
$mobileAsideWidth: 260px;

/* * * * * * * * * *\
 *                 *
 *      THEMES     *
 *                 *
\* * * * * * * * * */

$themes: (
/**********\
   默认皮肤
\**********/
bright: $bright,
/**********\
   暗色皮肤
\**********/

dark: $dark,
/**********\
   混色皮肤
\**********/

// theme-mixing: () // test...
);
@mixin themify($themes: $themes, $isParent: 1) {
    @each $theme-name,$map in $themes {
        @if $isParent == 1 {
            .theme-#{$theme-name} & {
                $theme-map: () !global;
                @each $key,
                $value in $map {
                    $theme-map: map-merge($theme-map, ($key: $value)) !global;
                }
                @content;
                $theme-map: null !global;
            }
        } @else {
            .theme-#{$theme-name} {
                $theme-map: () !global;
                @each $key,
                $value in $map {
                    $theme-map: map-merge($theme-map, ($key: $value)) !global;
                }
                @content;
                $theme-map: null !global;
            }
        }
    }
}

@function themed($key, $themeMap: $theme-map) {
    @return map-get($themeMap, $key);
}


/* * * * * * * * * *\
 *                 *
 *     主 题 色    *
 *                 *
\* * * * * * * * * */


$mainColor:  (
    dark: (
        color: #212C3D,
        fontColor: #FFF,
    ),
    bright: (
        color: #CCC,
        fontColor: #333,
    ),
    blue: (
        color: #1DA1F2,
        fontColor: #FFF,
    ),
    yellow: (
        color: #FFAD1F,
        fontColor: #FFF,
    ),
    powder: (
        color: #E0245E,
        fontColor: #FFF,
    ),
    purple: (
        color: #794BC4,
        fontColor: #FFF,
    ),
    orange: (
        color: #F45D22,
        fontColor: #FFF,
    ),
    green: (
        color: #17BF63,
        fontColor: #FFF,
    )
);
@each $main-name,$map in $mainColor {
    .m-b-#{$main-name} {
        background-color: map-get($map, 'color') !important;
        transition: .5s;
        color: map-get($map, 'fontColor');
    }
    .m-b-#{$main-name}-20 {
        background-color: rgba($color: map-get($map, 'color'), $alpha: .4) !important;
        transition: .5s;
    }
    .m-c-#{$main-name} {
        color: map-get($map, 'color') !important;
        transition: .5s;
    }
}

@each $theme-name,$map in $themes {
    :root, #{'[data-color-mode=' + $theme-name + ']'}{
        @each $key,$value in $map {
            #{'--color-' + $key}: $value;
        }
    }
}