@font-face {
  font-family: 'slm';  /* project id 1445911 */
  src: url('//at.alicdn.com/t/font_1445911_slndogxdyul.eot');
  src: url('//at.alicdn.com/t/font_1445911_slndogxdyul.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1445911_slndogxdyul.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1445911_slndogxdyul.woff') format('woff'),
  url('//at.alicdn.com/t/font_1445911_slndogxdyul.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1445911_slndogxdyul.svg#slm') format('svg');
}

.slm {
  font-family: "slm" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-article:before {
  content: "\e702";
}

.blog-leaving-message:before {
  content: "\e61f";
}

.blog-muisc:before {
  content: "\e745";
}

.blog-search:before {
  content: "\e603";
}

.blog-account:before {
  content: "\e7bb";
}

.blog-themes:before {
  content: "\e606";
}

.blog-vue:before {
  content: "\e670";
}

.blog-uni-app:before {
  content: "\e61e";
}

.blog-CocosD-x:before {
  content: "\f4cb";
}

.blog-wxapp:before {
  content: "\e6f0";
}

.blog-react:before {
  content: "\e6ea";
}

.blog-cib-nuxt-js:before {
  content: "\e733";
}

.blog-cib-next-js:before {
  content: "\e734";
}

.blog-anli:before {
  content: "\e695";
}

.blog-frontend:before {
  content: "\e608";
}

.blog-ziyuan:before {
  content: "\e610";
}

.blog-home:before {
  content: "\e600";
}

.blog-master:before {
  content: "\e6e7";
}

.blog-backend:before {
  content: "\e602";
}

.blog-logo:before {
  content: "\e601";
}

.blog-menu:before {
  content: "\e638";
}

.blog-zhankai:before {
  content: "\e663";
}

.blog-back:before {
  content: "\e655";
}
