
@img-root: '/static/index/image/';
// 大小
@max-width: 1300px;
@min-width: 250px;

// 颜色
@color-red: #e64340;
@color-font: #353535;
@color-mater-font: #99a3b9;
@color-font-red: #5d1008;
@color-font-bg: #2E3743;
@color-green: #09BB07;
@color-1: #888;
@color-2: #576b95;

.font-shadow-bg-color() {
    color: @color-font-bg;
    text-shadow: 1px 1px 0 #e06a5f;
}
.font-shadow-black-color() {
    font-weight: bold;
    color: #14181E;
    text-shadow: 1px 1px 0 #535d6e;
}