// 大小
@max-width: 1300px;
@min-width: 200px;

@ip: '//res.mczyzy.cn/img';
@shadow: 0 2px 5px rgba(0,0,0, .15);
@click-shadow: 0 8px 15px rgba(0,0,0, .3);

.font-shadow-bg-color() {
    color: @color-font-bg;
    text-shadow: 1px 1px 0 #e06a5f;
}
.font-shadow-black-color() {
    font-weight: bold;
    color: #14181E;
    text-shadow: 1px 1px 0 #535d6e;
}
img[lazy=loading] {
    margin: 0 auto !important;
    max-width: 200px !important;
    height: 100% !important;
    background-image: linear-gradient(180deg, #EDEDED, #dddddd) !important;
}

/* 公共 */
html {

    --max-width: @max-width;
    --min-width: @min-width;

    --font-out: #14181E;
    --font-out-shadow: 1px 1px .5px #535d6e;

    --img-bg: url('@{ip}/line-pattern-light-bg.png');
    font-size: 18px;
    --box-shadow: @shadow;
    --box-click-shadow: @click-shadow;
    font-size: .9em;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    clear: both;
}
tbody {
    display: block;
}
.conter {
    max-width: @max-width;
    min-width: @min-width;
    margin: 0 auto;
}
tbody.conter {
  margin: 80px auto 0;
}
.none {
    display: none;
}
input, button {
    outline: none;
}
.button-lv0,
.button-lv1 {
    display: inline-block;
    min-width: 74px;
    padding: 0 5px;
    border: 0;
    border-radius: 15px;
    margin: 5px 0;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #6ed9f1;
    box-shadow: @shadow;
    transition: .2s;
    user-select: none;
    cursor: pointer;
    
    &:active {
        box-shadow: @click-shadow;
        transform: translateY(-2px);
    }
}
.button-lv0   { background-color: #a2dfec; }
.button-green { background-color: #1bb556; }
.button-red   { background-color: #ff4f0f; }
.button-blue  { background-color: #01BCFF; }

.ellipsis {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-box,
.content-fixed-box {
    display: inline-block;
    overflow: hidden;
    width: 70%;
    min-width: @min-width;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .9);
    box-sizing: border-box;
    box-shadow: @shadow;
    transition: .5s;
}
.single .content-box {
    float: none;
    width: 100%;
}
.max-a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
// 用户头像
.user-icon {
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
}
// 取消蓝色选框
body,
a:focus,
input:focus,
p:focus,
div:focus { -webkit-tap-highlight-color: transparent; }

// 小于 1000px
@media screen and (max-width: 1100px) {

    html {
        font-size: .9em;
    }
    // 内容
    .content-box,
    .content-row div.content-aff-box {
        float: inherit;
        display: block;
        width: 100vw;
    }
    .header-nav .message {
        display: none;
    }
}

// 小于 840px
@media screen and (max-width: 840px) {

    html {
        font-size: .8em;
    }
    .header-nav .header-right {
        display: none;
    }
    .centre h1.LOGO {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
    }
    .content-box,
    .content-fixed-box {
        box-shadow: 0 0 15px rgba(99,196,218,.15);
    }

    .header-nav-right,
    .header-nav-left,
    .header-nav-conter,
    .tag-description {
        display: none;
    }

    // 内容
    .content-box {
        float: inherit;
        width: 100vw;
    }
    div.account > form {
        width: 100%;
        max-width: 345px;
        .input-min { width: 50vw; min-width: 100px; }
        canvas { display: block; margin: 0 auto; width: 80%; }
    }
}

// 小于 350px
@media screen and (max-width: 400px) {
    body {
        font-size: .8em;
    }
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    &:hover {
        background-color: rgba(255, 255, 255, .1);
    }
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
    border-radius: 5px;

    &:hover {
        background-color: #F90;
    }
    
    &:active {
        background-color: #de4f3a;
    }
}