.comment-box {
  display: flex;
}

.comment-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--c-bg-tertiary);
  transition: .2s ease-in;
  // cursor: pointer;
  border-radius: 5px;

  &:hover {
    .subcomment .comment-item {
      background-color: var(--c-bg-overlay);
      transition: 0s;
      
      &:last-child {
        margin-bottom: 0;
      }
    }

    .sub-comment-box {
      background-color: var(--c-bg-overlay);
      border-radius: 5px;
      padding: 5px;
    }

    .tool {
      opacity: 1;
      max-height: 50em;
    }
  }

  .sub-comment-box {
    padding: 5px;
  }
}

.avatar-box {
  overflow: hidden;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: var(--c-avatar-bg);
  border: 3px solid var(--c-avatar-border);
  border-radius: 50px;
  transition: .5s ease-in-out;
  cursor: pointer;

  .avatar {
    position: relative;
    transition: .5s ease-in-out;
    
    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &:hover {
    overflow: initial;
    transform: scale(.5);
    
    .avatar {
      transform: scale(2);
    }
  }
}

.comment-right {
  flex: 1 1 auto;
  color: var(--c-text-secondary);

  .comment-meta {
    width: 100%;
    margin-bottom: 3px;
    color: var(--c-text-primary);
    font-weight: bold;
    font-size: 1.1em;
  }

  .comment-metadata {
    font-size: .8em;
  }

  .comment-content {
    margin-top: 10px;

    /deep/ img {
      max-height: 2em !important;
      vertical-align: middle;
      pointer-events: none;
      cursor: text;
    }
  }
}

.tool {
  margin-top: 10px;
  color: var(--c-text-placeholder);

  button.ant-btn-sm {
    color: var(--c-text-placeholder);
    vertical-align: middle;

    .slm {
      font-size: .9rem;
      margin-right: .2em;
      vertical-align: middle;
    }

    .blog-tread {
      font-size: 1rem;
    }

    .blog-like {
      margin-top: -.1rem;
    }

    .icon-clicks {
      color: var(--m-color-bg-primary);
    }

    &:hover {
      color: var(--c-text-tertiary);

      .blog-like,
      .blog-tread {
        color: var(--m-color-bg-primary);
      }
    }
  }
}

.subcomment {
  margin-top: 10px;
  margin-left: 50px;

  .tool {
    opacity: 0;
    max-height: 0;
    transition: .5s .5s;
  }
  
  .comment-item {
    padding-bottom: 0;

    &:hover {
      background-color: var(--c-bg-info);
    }
  }
}

.article-replay__user-card {
  min-width: 350px;

  .user-cover {
    border-radius: 5px 5px 0 0;
  }
}

.layout-default-mobile {
  .avatar-box {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }

  .subcomment {
    .comment-item {
      padding: 0 0 5px 0;
    }

    .avatar-box {
      display: none;
    }
  }

  .tool {
    display: none;
  }
}