/* 大小 */
$max-width: 1300px;
$min-width: 200px;

/* 行为相关颜色 */
$color-primary: #007aff;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #c0a6a5;
$color-blur: #ccc;


/* 按钮颜色 */
$button-lv0: #a2dfec;
$button-green: #1bb556;
$button-red: #ff4f0f;
$button-blue: #01BCFF;


/* 文字基本颜色 */
$text-color:#333;                   //基本色
$text-color-inverse:#fff;           //反色
$text-color-grey:#999;              //辅助灰色，如加载更多的提示信息
$text-color-placeholder: #808080;
$text-color-disable:#c0c0c0;

/* 行为相关颜色 */
$ip: 'https://img.slmblog.com/img/';
$box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
$click-shadow: 1px 7px 14px -5px rgba(0, 0, 0, .3);

/*=========**/

// 清除默认样式
body, ul, li {
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');
body {
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif;
}
ul {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
a, button, textarea, input {
  outline: none;
}

h1 {
  display: flex;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  align-items: center;
  font-size: 32;

  span, svg {
    margin-right: 10px;
    pointer-events: none;
  }
}

// 头部样式
.default-layouts-header {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 70px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  .header-inner {
    display: flex;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar {
    display: flex;
    align-items: center
  }
  .bar {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
    color: #555555;
    cursor: pointer;
    &:hover {
      color: #0099cc
    }
  }
}

// 内容样式
.default-layouts-body {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding-top: 51px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  justify-content: center;
  align-items: center
}

// 底部样式
.default-layouts-footer {
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  color: #b6c3db;
  background-color: rgba(255, 255, 255, .8);
  user-select: none;
  .copyright {
    display: flex;
    min-width: var(--min-width);
    padding: 20px 10px 0;
    margin: 15px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright-left {
    width: 100%;
    text-align: center;
  }
  .copyright-right {
    display: flex;
    margin-top: 5px;
    a:not(:last-child) {
      &::after {
        content: "|";
        margin: 0 7px;
      }
    }
  }
  // 备案
  .beian {
    width: 100%;
    min-width: var(--min-width);
    margin: 0 auto;
    .beian-a {
      display: flex;
      line-height: 20px;
      justify-content: center;
    }
    .beian-sn {
      margin-right: 10px;
      &::before {
        display: inline-block;
        height: 20px;
        width: 20px;
        padding: 0 5px 3px 0;
        vertical-align: middle;
        background: url('/static/images/police_badge.png') no-repeat;
        content: '';
      }
    }
    .beian-p {
      margin: 0 5px;
      line-height: 20px;
      color: #939393;
    }
  }
}

//index.css
.circle {
  margin: 2px;
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  left: 100px;
  box-shadow: 0px 1px 2px #999;
  text-shadow: 0px 1px 2px #999;
  line-height: 80px;
  text-align: center;
  color: white;
  font-size: 10px;
}

// 页面切换效果
.show-enter {
  opacity: 0;
  transform: scale(.9) translateY(50%);
}
.show-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 300ms ease-out;
}
.show-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.show-exit-active {
  opacity: 0;
  transform: scale(.9) translateY(50%);
  transition: all 300ms ease-out;
}